<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="baseUrl" value="http://selenium-courses.ipa.dataart.net:8080/" />
		<add key="authUrl" value="http://admin:admin@selenium-courses.ipa.dataart.net:8081/" />
		<add key="browserType" value="chrome" />
	</appSettings>
</configuration>